{% extends 'admin/dashboard.html.twig' %}

{% block body %}

<div class="container mt-4">
    <h2>
        <i class="fas fa-user-plus fa-2x" style="padding-right:5px;"></i> Créer un espace pour un nouveau Membre
    </h2>
    {{ include ('admin/user/_form.html.twig',{button: 'Créer'}) }}
</div>
{% endblock %}