{% extends 'admin/dashboard.html.twig' %}
{% block body %}
<div class="container mt-4" >

    <h2 style="margin-bottom:80px;">
        <i class="fas fa-clipboard-list fa-2x" style="padding-right:5px;"></i>  Créer un evenement 
    </h2>
        {{ include ('admin/evenement/_form.html.twig',{button: 'Créer'}) }}

</div>

{% endblock %}
